
#question-display {
 font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
  top: 5px
}
head{
  display: none;
}

.line-separator {
  height: 1px;
  color: black;
  background-color: rgb(180, 178, 176);
  width: 95%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
button{
  width: 80px;
  height: 25px;
  position: relative;
  opacity: 1px;
  border-radius: 4px;
  left: 100px;
  bottom: 5px;
  background-color: #FF9419;
  border-color: #FF9419;
}


header {
  background-color: #1FB3FF;
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -15px;
  box-shadow: 2px 4px 20px;
  height: 100px;
  width: 15000px;
}
html {
  background: url(Background_image_phenom.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input[type=checkbox].css-checkbox {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height:1px;
width:1px;
margin:-1px;
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px;
display:inline-block;
line-height:15px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
vertical-align:middle;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{ background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png); }



#container {
  background-color:#D3D3D3;
  position: relative;
  border-radius: 4px;
  top: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  width: 30%;
  left: 400px;
}

#answers {
  position: relative;
  text-align: left;
}

