.primary {
  background-color: #2a2a2a;
  margin-top: -30px;
  margin-right: -20px;
  margin-left: -15px;
  border-radius: 10px;
  border-color: #4BA2EF;
  border-style: solid;
  border-width: 4px;
  height: 50px;
  width: 15000px;
}


#container {
  background-color:#D3D3D3;
  position: relative;
  border-radius: 4px;
  top: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px black;
  width: 30%;
  left: 400px;
}

.title {
  position: relative;
  left: 15px;
  color: #EF9A12;
  font-family:'LatoBoldItalic',Arial,sans-serif;
  font-size:35px;
  top: -10px;
  font-weight: 600px;
  letter-spacing:0;
  height:20px;
  font-weight: bold-italic;
}


#question-display {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  font-family:'LatoBoldItalic',Arial,sans-serif;
  top: 5px
}


.line-separator {
  height: 1px;
  color: black;
  background-color: rgb(180, 178, 176);
  width: 95%;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}

#answers {
  position: relative;
  text-align: left;
}

button{
  width: 80px;
  height: 25px;
  position: relative;
  opacity: 1px;
  border-radius: 4px;
  left: 100px;
  bottom: 5px;
  background-color: #FF9419;
  border-color: #FF9419;
}


html {
  background: url(Background_image_phenom.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
input[type=checkbox].css-checkbox {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height:1px;
width:1px;
margin:-1px;
padding:0;
border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
padding-left:20px;
height:15px;
display:inline-block;
line-height:15px;
margin: 7px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:15px;
font-family:'LatoBoldItalic',Arial,sans-serif;
vertical-align:middle;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
background-position: 0 -15px;
}

.css-label{
  margin: 5px, 5px,5px, 5px;
  background-image:url(http://csscheckbox.com/checkboxes/dark-check-cyan.png); }

